<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ path }} - Endless Night Open Directories</title>
</head>
<body>
    <h2>Index of {{ path }}</h2>

    <ul>
        <li><a href="..">Parent Directory</a> - <a href="/">Back Home</a></li>
        {% set i=0 %}
        {% for file in files %}
            <li><a href="/static/{{ path }}/{{ file }}">{{ file }}</a> - {{ filesizes[i] }}</li>
            {% set i=i+1 %}
        {% endfor %}
    </ul>
</body>
</html>